.main {
  width: 100%;
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
  background: $black;

  .inner-banner {
    font-family: myriad-pro-condensed, sans-serif;
    font-weight: bold;
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    @include media("<=phone") {
    flex-direction: column;
    }

    .baneer-headline {
      flex: 1 1 45rem;
      margin-top: 90px;
      display: flex;

      flex-direction: column;
      justify-content: center;

      .headline {
        width: 40px;
        height: 3px;
        background: $red;
        margin-bottom: 1rem;
      }

      .message {
        color: $white;
        font-size: 5rem;
        padding: 0;
        margin-top: 0;
        line-height: 5rem;

        @include media("<=tablet") {
          font-size: 2.5rem;
          line-height: 2rem;
        }
        @include media("<=phone") {
          font-size: 2.5rem;
          line-height: 3rem;
        }
      }
      .start-btn {
        width: 190px;
        height: 50px;
        background: none;
        border: solid 3px $red;
        color: $white;
        text-align: center;
        font-weight: bold;
        font-size: 0.9rem;
        @include media("<=phone") {
          width:90%;
        }
        @include media("<=tablet") {
          width: 90%;
        }
      }
   

    }
    .img-hero {
      flex: 1 1 45rem;
      width: 100%;

      height: 100%;
      margin-top: 90px;
      @include media("<=phone") {
        display: none;
      }
      @include media("<=tablet") {
        
        flex: 1 1 45rem;
      }
   

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
